body	{
		width:900px;
		background-color:  #FFFFFF;
		background-image:url('images/background.png');
		margin-left: auto;
		margin-right: auto;
		}
#nav-buttons-across ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-buttons-across li {
	margin-top: 5px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 5px;
	float:left;
	font-family: Calibri;
	}
#nav-buttons-across li a {
	background: #660000;
	height: 2em;
	line-height: 2em;
	width: 10em;
	display: block;
	border: 1px #000000;
	color: #FFFF99;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
}
#nav-buttons-across li a:link {
	color: #FFFFFF;
	font-weight: bold;
}
#nav-buttons-across li a:visited {
	color: #FFFFFF;
	font-weight: bold;
}
#nav-buttons-across li a:hover {
	color: #FFFF99;
	font-weight: bold;
	background: #660000;
}
#nav-buttons-across li a:active {
	color: #0000FF;
	font-weight: bold;
}


#nav-buttons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-buttons li {
	margin-top: 5px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 5px;
	font-family: Calibri;
	}
#nav-buttons li a {
	background: #660000;
	height: 2em;
	line-height: 2em;
	width: 10em;
	display: block;
	border: 1px #000000;
	color: #FFFF99;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
}
#nav-buttons li a:link {
	color: #FFFFFF;
	font-weight: bold;
}
#nav-buttons li a:visited {
	color: #FFFFFF;
	font-weight: bold;
}
#nav-buttons li a:hover {
	color: #FFFF99;
	font-weight: bold;
	background: #660000;
}
#nav-buttons li a:active {
	color: #0000FF;
	font-weight: bold;
}
#message{
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	padding: 10px;
	width: 900px;
	font-family: Calibri;
	font-size: 15px;
	border-radius: 10px;
}
#note{
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
	}
#textFields{
	font-size: 13px;
	font-family: Arial;
	}
#maroon{
	background-color: #660000;
	color: #FFFFFF;
	padding: 4px;
	}
fieldset {
	width: 870px;
	background-color: #FFF;
}
#commentBox{
	width: 700px;
}
#red{
	color: #FF0000;
	padding: 4px;
	font-size:18px;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
	}
#note-red{
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
	color:#F00;
	}
th{
	color: #FFF;
	background-color: #660000;
}
#floatRight{
	float: right;
}
#banners{
	background: #660000;
	border: 1px #000000;
	color: #FFFF99;
	text-align: center;
	border-style: solid;
	border-color: #FFF;
	width: 900px;
	height: 30px;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
}
input.red {
	background: #660000;
	height: 2em;
	line-height: 2em;
	width: 10em;
	display: block;
	border: 1px #000000;
	color: #FFFF99;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
}
input.red:hover{
	background: #660000;
	height: 2em;
	line-height: 2em;
	width: 10em;
	display: block;
	border: 1px #000000;
	color: #FFFF99;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
#navTop {
	background: #660000;
	width:122px;
	float:left;
	border: 1px #000000;
	color: #FFFF99;
	text-align: center;
	border-style: solid;
	border-color: #FFF;
	text-decoration: none;
	padding: 2px;
}
#navTop a:link {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
#navTop a:visited {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
#navTop a:hover {
	color: #FFFF99;
	font-weight: bold;
	background: #660000;
	text-decoration: none;
}
#navTop a:active {
	color: #0000FF;
	font-weight: bold;
	text-decoration: none;
}
#courseChoices{
	width: 100px;
}
